[Unit]
Description=Battery Status Check
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/home/bgmeulem/.scripts/battery-level-check.sh
