[Unit]
Description=Run battery check every minute
Requires=battery-level-check.service

[Timer]
OnCalendar=*:*:00
Persistent=true

[Install]
WantedBy=timers.target
