[Unit]
Description=Ping user for a timeshift backup
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/home/bgmeulem/.scripts/timeshift.sh
