/* CSS for sway notification center and notifications
* Reload with: swaync-client -rs */

/* Colors */
@import 'colors.css';
@import '../my_colors.css'

/* General */
* {
    font-family: "Fira Sans Semibold";
    transition: 100;
    padding: 0;
}

/* Notifications  */
.notification-background {
    border: none;
    border-radius: 10px;
    opacity: 0.8;
    color: #000000;
    padding: 10;
}

.notification-background .notification {
  border-radius: 10px;
  background: #F2F1ED;
  padding: 0.5em 1em;
}

.notification *:hover {
    background: none;
}

.notification:hover {
  background: #E5E3DC;
}

.notification-content .body,
.notification-content .summary {
    color: #000000;
}

.close-button {
  /* The notification Close Button */
  background: none;
  color: #000000;
  box-shadow: none;
}

.close-button:hover {
  background: #E5E3DC;
}
