/* CSS for sway notification center and notifications
* Reload with: swaync-client -rs */

/* Colors */
@import 'colors.css';
@import '../my_colors.css'
@define-color text #000000;

/* General */
* {
  all: unset;
  transition: 100;
  color: #000000;
}

:root {
  /* syntax: color x-offset y-offset blur spread*/
  --notification-shadow: rgba(99, 99, 99, .8) 0px 2px 2px 1px;
}

/* Notifications  */
.notification-background {
    border: none;
    border-radius: 10px;
    opacity: 0.8;
    padding: 0.5em;
}

.notification-background .notification {
  border-radius: 10px;
  background: #F2F1ED;
  padding: 0.8em 0.5em;
  box-shadow: var(--notification-shadow);
}

.notification *:hover {
    background: none;
}

.notification:hover {
  background: #E5E3DC;
}


.notification-content .body {
  font-family: "Fira Sans";
}

.notification-content .summary {
  font-family: "Fira Sans Semibold";
}
.notification-content .image {
  margin-right: 0.5em;
}

.close-button {
  /* The notification Close Button */
  background: none;
  color: #000000;
  box-shadow: none;
  margin: 0.4em;
  size: 14px;
  min-width: 24px;
  min-height: 24px
}

.close-button:hover {
  background: #E5E3DC;
}
