@import 'colors.css';
* {
	font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	box-shadow: none;
}

window {
	background-image: url("/home/bgmeulem/.cache/waypaper/blurred_wallpaper.png");
	background-size: cover;
	font-size: 16;
}

button {
	background-repeat: no-repeat;
    	background-position: center;
    	background-size: 20%;
    	background-color: rgba(200, 220, 255, 0);
    	border-radius: 20px;
	border:0px;
	min-width: 10em;
	margin-top: 10em;
	margin-bottom: 10em;
}

button:hover {
    background-size: 25%;
    background-color: rgba(0, 0, 0, .5);
}


#lock {
	background-image: image(url("icons/lock.png"));
}

#logout {
	background-image: image(url("icons/logout.png"));
}

#suspend {
	background-image: image(url("icons/suspend.png"));
}

#hibernate {
	background-image: image(url("icons/hibernate.png"));
}

#shutdown {
	background-image: image(url("icons/shutdown.png"));
}

#reboot {
	background-image: image(url("icons/reboot.png"));
}
