@import "../my_colors.css";
@import "colors.css";

window#osd {
  border-radius: 15px;
  background-color: @soft-white-08;
  border: solid 1px @soft-white-08;
}

image,
label {
  color: @soft-black;
}

progressbar:disabled,
image:disabled {
  opacity: 0.5;
}

progressbar {
  min-height: 6px;
  background: transparent;
  border: none;
  padding-right: 1em;
}

trough {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: @soft-white-08;
}

progress {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: @on_primary;
}
